
/* 
    Created on : 14/11/2015, 20:34:26
    Author     : Valmor Deunizio Junior
*/
#topo{
    background-color: #017338;
    color: whitesmoke;
}
body {
    position: relative; 
}
.jumbotrom {
    margin-bottom: 0;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #115135;
}

.affix ~ .container-fluid {
    position: relative;   
    top: 10px;
}

#inicio {padding-top:50px;height:600px;color: #fff; background-color: #1E88E5;}
#cursos {padding-top:50px;height:600px;color: #fff; background-color: #673ab7;}
#noticias {padding-top:50px;height:600px;color: #fff; background-color: #ff9800;}
#fotos {padding-top:50px;height:600px;color: #fff; background-color: #00bcd4;}
#videos {padding-top:50px;height:600px;color: #fff; background-color: #009688;}
#contato {padding-top:50px;height:600px;color: #fff; background-color: #009200;}
#localizacao {padding-top:50px;height:600px;color: #fff; background-color: #004088;}
 
#local h1, #videos h1, #contato h1{
    color:darkslategray;
    font-family: 'oswald', sans-serif;
}
#local iframe, #videos iframe {
    border:solid;
    color:black;
   }
   #contato h1 {margin-bottom: 20px;
   }
   
   #contato p{
       color: darkslategrey;
         font-family:arial;
   }      
   h1 {
       text-align: center;
   }
   #contato input, #contato textarea, #contato button {
       margin: 10px;
       padding: 10px;
       
   }